<html>


<app-header></app-header>


<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
<div class="c_app-general">
  <div class="c_app__text-group">
    <div class="c_app__title">Explore o mundo dos<span class="c_app__title--red">Pokémons</span></div><br>
    <div class="c_app__subtitle"> Descubra todas as espécies de Pokémons</div><br>
    <div id="divBusca">
      <input type="text" id="txtBusca" />
      <button id="btnBusca">Buscar</button>
    </div>
  </div>

  <div class="c_app__rectangle_cards">
    <img src="../../assets/img/rectangle899.svg" alt="rectangle">
    <img src="../../assets/img//rectangle900.svg" alt="rectangle">
    <img src="../../assets/img/rectangle901.svg" alt="rectangle">
  </div>

  <div class="c_app__more">Pokédex</div>

  <div class="c_app__pagination_controls">
    <pagination-controls (pageChange)="page= $event; pokemons = []; getPokemon()" maxSize="0" previousLabel=""
      nextLabel=""></pagination-controls>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="w-100 d-flex justify-content-around flex-wrap">
        <div
          *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }">
          <a href="#" style="text-decoration:none;">
            <div class="c_app__pokemon-card">
              <div class="c_app__pokemon-card--container">
                <p class="c_app__pokemon-card-title">{{pokemon.name}} &nbsp; &nbsp;#COD</p>
                <div clas="c_app__pokemon-card-img"><img [src]="pokemon.sprites.front_default" alt="Pokemon"></div>
                <div class="c_app__pokemon-card--container">
                  <p>Altura:{{pokemon.height}}cm</p>
                  <p>Peso: {{pokemon.weight}}kg</p>

                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-pokemon-info-card></app-pokemon-info-card>

  </div>
