<div class="c_pokemon-info-card__group">
  <div class="c_pokemon-info-card__title">Charmeleon</div>
  <div class="c_pokemon-info-card__code">Cod:#0034</div>
  <div class="c_pokemon-info-card__type"> Tipo: <span class="c_pokemon-info-card__type--fogo">FOGO</span></div>

  <div class="c_pokemon-info-card__description"> Descrição</div>

  <div class="c_pokemon-info-card__content"> "Charmeleon destrói seus oponentes sem pena com suas garras afiadas.
    Torna-se agressivo quando encontra um oponente forte e então a chama na ponta da sua cauda queima intensamente em
    uma cor azulada."</div><br>
  <div class="c_pokemon-info-card__description">
    <p>Informações</p>
  </div>


  <div class="c_pokemon-info-card__content-items">
    <p>Altura: <span class="c_pokemon-info-card__type--right">110cm</span></p>
    <p>Peso: <span class="c_pokemon-info-card__type--right">19kg</span></p>

    <div>Vida <div class="c_pokemon-info-card__progress-bar1"></div>
    </div>
    <div>Defesa <div class="c_pokemon-info-card__progress-bar2"></div>
    </div>
    <div>Velocidade<div class="c_pokemon-info-card__progress-bar3"></div>
    </div>
    <div>Ataque<div class="c_pokemon-info-card__progress-bar4"></div>
    </div>

  </div>


  <div class="c_pokemon-info-card-img">

    <img src="../../assets/img/charmeleon.png" width="300px" alt="charmeleon">
  </div>
</div>
